body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.handle {
  fill: #fff;
  stroke: #aaa;
  stroke-width: 2px;
  transition: stroke 0.5s;
}

.handle:hover {
	stroke: #0583ba;
}

.arc {
	fill: black;
}

.smallArc {
	stroke: #777;
	stroke-width: 1.5px;
	fill: #CCC;
}

line {
	stroke-width: 1.5px;
}

polygon {
	fill: #777;
}

text {
	text-anchor: middle;
	font-size: 9pt;
}